body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    background-color: whitesmoke; // Main background colour of page is white.

    a {
        text-decoration: none; // Removes the underline from the links.
        color:orangered;
    }

    a:hover {
        color:black; // Font colour of links turn black when hovered over.
    }
    
    #page-header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgb(255, 123, 0); // Background colour of the topbar div element is an orange-type colour.
        text-align: center;
        color: white;
        height: 90px;
        
        div {
            position: relative;
            // font-weight:bold;
            font-size: 30px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
    }


    // The #bodyContent div box contains the contact details and the main content of the CV.
    // The contact details and main CV content is displayed in a grid format.
    // The grid is made up of one row and two columns.
    // The two columns consist of the contact details on the left and main CV content on the right.
    #bodyContent {
        margin-top: 90px;
        display:grid;
        grid-template-columns: minmax(20%,1fr) minmax(70%,3fr); // Contact details make up 20% of the page width to 1fr of the page width, main CV content makes up 70% of the page width to 3fr of the page width.
        padding:1em;
        gap:1em; // Spacing added between the grid items.

        .scroll_body {
            overflow: auto; // When text overflows in any .scroll_body html element, a scrollbar is added to the content.
        }

        #contact {
            background-color: lightgrey; // Contact details grid item given lightgrey background colour.
            border-radius: 20px;
            padding:1em;
            // border: 1px solid grey;

            #contact_head {
                padding:30px 0px;

                img {
                    width:80%;
                    // Image is centered within its container element.
                    display:block;
                    margin-left: auto;
                    margin-right: auto;
                }
    
                h2 {
                    text-align: center;
                    text-decoration: underline;
                }
            }

            #contact_body {
                border:3px solid grey; // Contact details surrounded with grey border.
                padding:40px 30px;
                border-radius: 20px;

                h3 {
                    text-decoration: underline;
                    margin:0px;
                    padding-bottom: 15px;
                }

                h4 {
                    margin-bottom: 5px;
                }

                ul {
                    padding-left:20px;
                }

            }

        }

        #mainContent {
            background-color: lightgrey; // Main CV details grid item given lightgrey background colour.
            border-radius: 20px;
            padding:1em;
            display:grid; // Sections within main CV content displayed in a grid format as well.
            row-gap: 1.5em; // Spacing allocated between grid elements.
            // border: 1px solid grey;

            // These direct div child elements represent each grid item within the main CV content.
            > div {
                border:3px solid grey; // Direct div child elements given a grey border.
                padding:20px 30px;
                border-radius: 20px;
            }

            h2 {
                text-decoration: underline;
            }

            ol {
                li::marker {
                    font-weight: bold; // Numbered bullet point for ordered list items given a bold format.
                }
            }
        }
    }
}

/*
    References:

    Centering an image in its container:
    - https://www.w3schools.com/howto/howto_css_image_center.asp

    CSS grid layouts:
    - https://www.youtube.com/watch?v=jV8B24rSN5o

    Make markers of ordered list bold:
    - https://stackoverflow.com/questions/21369843/is-there-a-way-to-make-numbers-in-an-ordered-list-bold
*/