body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0px;
  background-color: rgb(0, 0, 45);
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: limegreen;
}

a:hover {
  color:skyblue;
}

img {
  width:80%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#page-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: navy;
  text-align: center;
  color: white;
  height: 90px;
}

#page-header > div {
  position: relative;
  font-size: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#bodyContent {
  margin-top: 90px;
}

#contact_head {
  padding:30px 0px;
}

#contact_head > img {
  width:80%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#contact_head > h2 {
  text-align: center;
  text-decoration: underline;
}

#contact_body {
  border: 1px solid whitesmoke;
  padding: 40px 30px;
  border-radius: 20px;
}

#contact_body > h3 {
  text-decoration: underline;
  margin:0px;
  padding-bottom: 15px;
}

#contact_body > h4 {
  margin-bottom: 5px;
}

#contact_body > ul {
  padding-left:20px;
}

#mainContent > div {
  border: 1px solid whitesmoke;
  padding: 20px 30px;
  border-radius: 20px;
}

h2 {
  text-decoration: underline;
}

ol > li::marker {
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  #bodyContent {
      margin-top: 90px;
      display:grid;
      grid-template-columns: minmax(20%,1fr) minmax(70%,3fr);
      padding:1em;
      gap:1em;
  }

  #contact {
      background-color: rgb(0, 0, 60);
      border-radius: 20px;
      padding:1em;
  }

  #mainContent {
      background-color: rgb(0, 0, 60);
      border-radius: 20px;
      padding:1em;
      display:grid;
      grid-template-columns: 1fr;
      row-gap: 1.5em;
  }
}

.scroll_body {
  overflow: auto;
}

@media screen and (max-width: 768px) {
  #bodyContent {
      display: block;
  }

  #contact {
      background-color: rgb(0, 0, 60);
      padding:1em;
  }

  #mainContent {
      background-color: rgb(0, 0, 60);
      padding:1em;
      display:grid;
      grid-template-columns: 1fr;
      row-gap: 1.5em;
  }
}